# use glob syntax.
syntax: glob

extern/
*~
*.in
*.pyc
*.o
*.so
*.a
*.dat
*.out
*_wrap.cxx
*.eps
*.lay
*.tripan
*.wake
*.pdf
*.igs
*.con
*.edge
*.h5
*.f5
*.bdf
*.tar.gz
*.png
*.plt
*_cs.*
*.phy
*.bin
*.aux
*.bbl
*.blg
*.log
*.nav
*.snm
*.toc
*.stl
*.bstl
*.tar
*.avi
*.mcr
*.zip
*.vtk
*.txt
tmr/*.so
tmr/*.cpp
*.STEP
*.stp
*.step
*.egads

# vscode config files
.vscode/*

# ccls cache files
.ccls-cache

# macOS file system file
.DS_Store
